<div class="canvmodal">
    <a href="#modal-full" uk-toggle><button class="action">Start Doodling</button></a>
</div>

<div id="modal-full" class="uk-modal-full dashview canvresp" uk-modal>
    <style>
        .dashview {
            background-image: url('/doodle_node.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-origin: center;
        }
    </style>
    <div class="dashview">
        <div class="uk-modal-body">
            <div class="mininav">
                <button id="save" class="action" data-id="{{ drawing.id }}">Save</button>
                <button id="clear" class="action" onclick="clearArea();return false;">Clear Canvas</button>
                <button id="delete" class="action">Delete</button>
            </div>
            <container class="canvaslay">
                <section id="toolbar">
                    <div class="type" id="draw">
                        <input type="radio" name="tool" class="tool" id="pen" value="0" onchange="tool();">
                        <label for="pen">
                            <i class="las la-pen"></i>
                        </label>
                        <input type="radio" name="tool" class="tool" id="brush" value="1" onchange="tool();">
                        <label for="brush">
                            <i class="las la-paint-brush"></i>
                        </label>
                        <input type="radio" name="tool" class="tool" id="eraser" value="3" onchange="tool();">
                        <label for="eraser">
                            <i class="las la-eraser"></i>
                        </label>
                    </div>
                    <section class="leftbar">
                        <p>Width <span id="widthOut"></span></p>
                        <input type="range" class="linealt" min="1" max="50" value="5" id="inputWidth"
                            oninput="widthVal(value)">
                        <p>Opacity <sapn id="opacityOut"></span></p>
                        <input type="range" class="linealt" min="0" max="100" value="100" id="inputOpacity"
                            oninput="opacityVal(value)">
                        <p>Color</p>
                        <input type="color" value="#000000" id="selColor" class="linealt">
                    </section>
                </section>
                <canvas id="canvas" width="800" Height="500"></canvas>
            </container>
        </div>
    </div>
</div>
<script src="/js/canvas.js"></script>