<div class="gallery">
    <h2>{{user.name}}'s Gallery</h2>

    <section class="images">
        {{!-- {{{drawing.image}}} --}}
        <image class="placeholder" src="https://via.placeholder.com/150">
    
    </section>
</div>