{{#each drawings as |drawing| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/drawing/{{drawings.id}}">{{drawings.name}}</a>
        </h2>


    </div>
    <div class="col-md-7">
        <p>
            {{drawings.description}}
        </p>
    </div>
</div>
{{/each}}