<div class="row">
    <div class="login">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="form-group logindiv">
                <label for="email-login" class="labels">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group logindiv">
                <label for="password-login" class="labels">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group btnplc">
                <button class="action subbtn" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="signup">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group logindiv">
                <label for="name-signup" class="labels">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group logindiv">
                <label for="email-signup" class="labels">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group logindiv">
                <label for="password-signup" class="labels">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group btnplc">
                <button class="action subbtn" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>