header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
body {
  background-color: #121212;
}

#canvas {
  border: 5px solid black;
  background-color: #eee;
}
#toolbar {
  display: flex;
  flex-direction: column;
}
.mininav { 
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  background-color: #414141;
}
.canvaslay {
  display: flex;
  flex-direction: row;
  background-color: #414141;
}
p {
  margin-left: 5px;
}
.action {
height:50px;
display:flex;
align-items:center;
background:rgb(150, 143, 143);
padding:0px 10px;
font-weight:600;
color:rgb(245, 240, 240);
margin-right: 5px;
border-radius: 10%;
padding:5px 10px;
cursor:pointer;
}
.type {
  margin-top: 5px;
}
.type input {
  display:none;
}
.type input:checked + label {
  background:#111;
  color:#eee;
  border-radius:50%;
}
label {
width:30px;
height:30px;
display:inline-block;
text-align:center;
line-height:30px;
margin:0px 2px;
cursor:pointer;
}
.linealt {
  margin-left: 5px;
}
#selColor {
  border: none;
  width: 100px;
  height: 100px;
  background-color: #232323;
}
.unrebtn {
  margin-top: 15px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}
.leftbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linealt:hover {
  cursor:pointer;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  /* negative value of footer height */
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
h2 {
  text-align: center;
  color: #eee;
}
.labels {
  color: #eee;
  margin-right: 2%;
}
.row {
  display: flex;
  flex-direction: row-reverse;
  margin: 5%;
  justify-content: center;
}
.subbtn {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.login {
  padding: 2%;
  background-color: #414141;
  margin-right: 10%;
  border-radius: 10%;
  border-color: #eee;
  border-width: 2px;
  border-style: outset;
}
.signup {
  padding: 2%;
  margin-right: 10%;
  border-radius: 10%;
  background-color: #414141;
  border-color: #eee;
  border-width: 2px;
  border-style: outset;
}
.btnplc {
  justify-content: center;
  display: flex;
  -ms-flex-align: center;
}
.canvmodal {
  display: flex;
  margin-top: 10px;
  align-self: center;
  justify-content: center;
}
.dashview {
  background-color: #414141;
  color: #eee;
}
li {
  list-style-type: square;
}
.slideshow {
  display: flex;
  justify-content: center;
  align-self: center;
}
.slideshowwrap {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .slideshowwrap {
    width: 50%;
    
  }
}
.uk-slideshow-items {
  width: 100% !important;
  min-height: auto;
}
@media only screen and (min-width: 768px) {
  .uk-slideshow-items {
    width: 500px !important;
    height: 300px !important;
    margin: 0 auto;    
  }
}
.footbtn {
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}
.createnew {
  padding: 2%;
  background-color: #414141;
  border-radius: 10%;
  border-color: #eee;
  border-width: 2px;
  border-style: outset;
}
.dashbtn {
  margin-top: 5px;
}