#canvas {
    border: 5px solid black;
}
#toolbar {
    display: flex;
    flex-direction: column;
}
.mininav { 
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.canvaslay {
    display: flex;
    flex-direction: row;
}
p {
    margin-right: 1%;
}
.action {
  height:50px;
  display:flex;
  align-items:center;
  background:rgb(150, 143, 143);
  padding:0px 10px;
  font-weight:600;
  color:rgb(245, 240, 240);
 
  padding:5px 10px;
  cursor:pointer;
}
.type input {
    display:none;
}
.type input:checked + label {
    background:#111;
    color:#eee;
    border-radius:50%;
}
label {
  width:30px;
  height:30px;
  display:inline-block;
  text-align:center;
  line-height:30px;
  margin:0px 2px;
  cursor:pointer;
}