body {
    background-color: #121212;
}

#canvas {
    border: 5px solid black;
    background-color: #eee;
}
#toolbar {
    display: flex;
    flex-direction: column;
}
.mininav { 
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: #414141;
    padding: 5px;
}
.canvaslay {
    display: flex;
    flex-direction: row;
    background-color: #414141;
}
p {
    color: #eee;
    margin-left: 5px;
}
.action {
  height:50px;
  display:flex;
  align-items:center;
  background:#232323;
  padding:0px 10px;
  font-weight:600;
  color:rgb(245, 240, 240);
  margin-right: 5px;
  border-radius: 10%;
  padding:5px 10px;
  cursor:pointer;
}
.type {
    margin-top: 5px;
}
.type input {
    display:none;
}
.type input:checked + label {
    background:#111;
    color:#eee;
    border-radius:50%;
}
label {
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  line-height:40px;
  margin:0px 2px;
  cursor:pointer;
}
.linealt {
    margin-left: 5px;
}
#selColor {
    border: none;
    width: 100px;
    height: 100px;
    background-color: #232323;
}
.unrebtn {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linealt:hover {
    cursor:pointer;
}